table {
    width: 100%;
  }
.matColumnDef{
  color: #271111;
}
  .mat-card-actions {
margin-left: auto;
  }
  
  
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
.title-inventory{
width: 1324px;
height: 44px;
left: 334px;
top: 129px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 137.5%;
color: #271111;
}
  // .dropdown-filter{
  //   border-radius: 16px;
  // }

 .back-arrow{
color: #271111;
 } 