<div class="page-container navbar-fixed-top">
    <header>
        <div>
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
            <a routerLink="/">
                <span class="app-title">
                    <img src="assets\image 5.svg">&nbsp;AURA SILVER</span>
            </a>
        </div>
       <div class="current-time">
        {{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}
       </div >
       <div class="input-group">
        <input class="form-control border-end-0 border rounded-pill" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"  type="text"  id="example-search-input">
        </div>
    <div class="icons">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
    </header>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
            <a mat-button routerLink="/page1"><img src="assets\bar_chart.svg">Analytics</a>
            <a mat-button routerLink="/page2"><img src="assets\diversity_3.svg">Customers</a>
            <a mat-button routerLink="/page3"><img src="assets\campaign.svg">Marketing</a>
            <a mat-button routerLink="/page4"><img src="assets\payments.svg">Billing</a>
            <a mat-button routerLink="dashboard/inventory"><img src="assets\inventory_2.svg">Inventory</a>
            <a mat-button routerLink="/page5"><img src="assets\Vector.svg">Staff</a>
            <a mat-button routerLink="/page5"><img src="assets\package.svg">Orders</a>
            <a mat-button routerLink="/page5"><img src="assets\language.svg">Social Media</a>
        </mat-sidenav>
        <mat-sidenav-content [class.expand]="isMenuOpen">
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div>

        <mat-sidenav #sidenav autoFocus="true" mode="over" [(opened)]="isMenuOpen" class="sidenav"
            (click)="onSidenavClick()">
            <!-- more code here -->
        </mat-sidenav>
    </div>
</div>