/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-backdrop.mat-drawer-shown{
    visibility: hidden !important;
  }

  .custom-fixed-tables {
    margin-top: 1rem;
    overflow: auto;
    max-height: 420px;
    &.table{
      border-collapse: separate; /* Don't collapse */
      border-spacing: 0;
      width: 100%;
      position: relative;
      thead {
        th{
          position: sticky;
          border: solid 0px;
          // border-bottom: solid 1px #8CD4FD;
          white-space: nowrap;
          top: 0;
          background: #F6F8FA;
          z-index: 5;
          padding: 9px 12px;
          border-radius: 10px;
        }
      }
    
      tbody {
        tr{
          color: #271111 !important;
          font-size: 13px;
          line-height: 20px;
          box-shadow: inset 0px -1px 0px #DAF1FF !important;
          border-radius: 2px 2px 0px 0px;
          border-top: none !important;
          height: 45px;
        }
        td{
          padding: 9px 12px 2px 12px;
          position: relative;
          font-size: 13px;
          line-height: 20px;
          border-top: 0;
        }
      }
    }
  }